body{
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    color: #6d6d6d;
    font-size: 13px;
}

home{
    
}
#sideMenu ul{
    list-style-type: none;
    padding: 1px;
}

#sideMenu ul li a {
    display: inline-block;
    width: 110px;
    height: 36px;
    padding-right: 12px;
    color: #5c5c5c;
    line-height: 32px;
    background: linear-gradient(white,rgb(207,207,207));
    text-decoration: none;
    
    /* url("./images/side_menu_sprite.png"); */
}

#sideMenu ul li a:active{
   border: 1px black dotted;
}

.cube{
    background: url('./images/cube_bg.png');
    width: 248px;
    height: 142px;
    padding: 1px 22px 15px;
    margin: 36px 0px 36px 0px;
    
}

h3
{   
    font-weight: bold;
    color: #005ca0;
    margin-bottom: 10px;
}

.gray{
    color: #72716d;
}

.contact{
    background: url('./images/contact_form_bg.png');
    width: 347px;
    min-height: 332px;
    padding: 12px 18px;
    background-repeat: no-repeat;
    font-size: 12px;
}
.contact>h3{
    margin: 2px;
    font-size: 15px;
}
.contact>strong{
    margin: 2px;
    font-size: 13px;
}
.contact label{
    
    width:100px;
    
    display: inline-block;
}

#submit{
    color:white;
    background: linear-gradient(to bottom , rgb(60,167,232), rgb(29,90,145));  
    width:45px;
    margin-left: 0px;
    
}

.frame-one-line{
    padding: 2px;
}
form{
    padding-right:30px;
}
textarea{
    width: 87%;
    height: 108px;
}

/* //==================================================// */
main{
    padding: 90px;
}

#main-right{    
    float: right;
    height: 100%;
    width:130px ;

}
#main-middle{
  
    float: right;
    height: 100%;
    width:450px ;
}
#main-left{
  padding: 26px 3px 20px 0px;
 
    float: right;
    height: 100%;
    width:250px ;
}